<html lang="{{ de }}" dir="{{ ltr }}">
<head>
	<meta charset="utf-8">
	<title>KuB Flyer {{ de }}</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section id="s-kontakt">
		<h2>{{ KONTAKT }}</h2>
		<dl>
			<dt>KuB</dt>
			<dd>
				<strong>{{ Kontakt- und Beratungsstelle für Flüchtlinge und Migrant_innen e.V. }}</strong><br>
				Oranienstr. 159<br>
				10969 Berlin
			</dd>

			<dt>{{ Telefon }}</dt>
			<dd><bdi>030 / 614 94 00</bdi> ({{ ab 13 Uhr }})</dd>

			<dt>{{ Fax }}</dt>
			<dd><bdi>030 / 615 45 34</bdi></dd>

			<dt>{{ E-Mail }}</dt>
			<dd>kontakt@kub-berlin.org</dd>

			<dt>{{ Spendenkonto }}</dt>
			<dd>DE70 4306 0967 1150 4052 02</dd>
		</dl>
		<img class="map" src="img/map.svg">
		<div class="box">
			<img src="img/qr_{{ de }}.svg" id="qr">
			<p>{{ Aktuelle Öffnungszeiten und Informationen zu Terminen und Anmeldung finden Sie auf unserer Webseite: }}</p>
			<p class="mb-0 big">https://kub-berlin.org</p>
		</div>
	</section>
	<section id="s-front" class="big">
		<img src="img/logo.svg">
		<div class="front front-1">
			<img src="img/icon-beratung.svg" class="icon">
			<h2>{{ Beratung zu Asyl und Aufenthalt }}</h2>
		</div>
		<div class="front front-2">
			<img src="img/icon-frauenberatung.svg" class="icon">
			<h2>{{ Beratung für geflüchtete Frauen }}</h2>
		</div>
		<div class="front front-3">
			<img src="img/icon-psb.svg" class="icon">
			<h2>{{ Psychosoziale Beratung }}</h2>
		</div>
		<div class="front front-4">
			<img src="img/icon-deutschkurs.svg" class="icon">
			<h2>{{ Deutsch lernen }}</h2>
		</div>
		<p>{{ Wir sind eine unabhängige Beratungsstelle. }}</p>
		<p>{{ Sie können sich an uns wenden, auch wenn Sie keinen sicheren Aufenthaltsstatus haben. }}</p>
		<p>{{ Alle Angebote der KuB sind kostenlos. }}</p>
		<p>{{ Wir beraten auf verschiedenen Sprachen, zum Beispiel: Arabisch, Kurdisch, Farsi, Französisch oder Russisch. }}</p>
		<p>{{ Wir können Sie auch anonym beraten. }}</p>
	</section>
	<section id="s-rechtsberatung">
		<div class="header header-1">
			<img src="img/icon-beratung.svg" class="icon">
			<h2>{{ Beratung zu Asyl und Aufenthalt }}</h2>
		</div>
		<p>{{ Wir beraten Sie zu Asyl- und Aufenthaltsrecht. }}</p>
		<p>{{ Kommen Sie um 9:00 Uhr, um sich zur Beratung anzumelden. }} {{ Sie brauchen keinen Termin. }} {{ Es kann leider sein, dass Sie mehrere Stunden warten müssen. }}</p>
		<p>{{ Bitte bringen Sie alle Papiere mit, die für die Beratung wichtig sind. }}</p>
		<p>{{ Wir können Sie nicht vor Gericht vertreten. Aber wir können Ihnen helfen, eine Anwält*in zu finden. }}</p>
		<p>{{ Wenn Sie eine*n Sprachmittler*in bei der Beratung dabei haben wollen, rufen Sie bitte vorher bei uns an. }}</p>
	</section>
	<section id="s-frauenberatung">
		<div class="header header-2">
			<img src="img/icon-frauenberatung.svg" class="icon">
			<h2>{{ Beratung für geflüchtete Frauen }}</h2>
		</div>
		<p>{{ Die Frauenberatung der KuB ist für geflüchtete Frauen, die besonderen Schutz brauchen. }}</p>
		<p class="mb-0">{{ Das sind vor allem: }}</p>
		<ul>
			<li>{{ Schwangere }}</li>
			<li>{{ Alleinerziehende }}</li>
			<li>{{ Betroffene von häuslicher Gewalt }}</li>
			<li>{{ Betroffene von sexualisierter Gewalt }}</li>
		</ul>
		<p>{{ Dafür schaffen wir eine geschützte und vertrauliche Atmosphäre. }}</p>
		<p>{{ Wir beraten zu Ihren Rechten und Möglichkeiten und unterstützen beim Stellen von Anträgen. }}</p>
	</section>
	<section id="s-psb">
		<div class="header header-3">
			<img src="img/icon-psb.svg" class="icon">
			<h2>{{ Psychosoziale Beratung }}</h2>
		</div>
		<p>{{ Sie können zu uns kommen: }}</p>
		<ul>
			<li>{{ Wenn Sie schlecht schlafen. }}</li>
			<li>{{ Wenn Sie sehr oft traurig sind. }}</li>
			<li>{{ Wenn Sie oft große Angst haben. }}</li>
			<li>{{ Wenn Sie sich hilflos fühlen. }}</li>
			<li>{{ Wenn Sie nicht wissen, wie Sie weiterleben sollen. }}</li>
		</ul>
		<p>{{ Wir hören Ihnen zu. }} {{ Wir suchen mit Ihnen zusammen Wege, wie Sie mit Ihren Problemen umgehen können. }}</p>
		<p>{{ Wir machen keine Psychotherapie, aber wir können Ihnen helfen, eine Therapie zu finden. }}</p>
		<p>
			{{ Sie entscheiden, worüber wir reden. }}<br>
			{{ Sie gehen keine Verpflichtungen ein. }}
		</p>
		<p>{{ Versuchen Sie es einfach! }}</p>
	</section>
	<section id="s-deutschkurse">
		<div class="header header-4">
			<img src="img/icon-deutschkurs.svg" class="icon">
			<h2>{{ Deutsch lernen }}</h2>
		</div>
		<p>{{ Wir haben Kurse für Anfänger*innen (A1.1, A1.2, A2.1, A2.2) und für Fortgeschrittene (B1, B2). }}</p>
		<p>{{ Es gibt auch einen Alphabetisierungs-Kurs für Menschen, die nicht lesen und schreiben können, entweder weil sie eine andere Schrift gelernt haben, oder weil sie es nie gelernt haben. }}</p>
		<p>{{ Unsere Kurse sind vor allem für Menschen, die keine Integrationskurse besuchen dürfen. }}</p>
		<p>{{ Ein Kurs geht 5 Monate. }} {{ Die meisten Kurse finden 2 mal pro Woche statt. }}</p>
		<p>{{ Informationen zu den aktuellen Kursen und zur Anmeldungen gibt es während unserer Öffnungszeiten oder auf unserer Webseite. }}</p>
	</section>
</body>
</html>
