<html lang="{{ de }}" dir="{{ ltr }}">
<head>
	<meta charset="utf-8">
	<title>KuB Flyer {{ de }}</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<section id="s-kontakt">
		<h2>{{ KONTAKT }}</h2>
		<dl>
			<dt>KuB</dt>
			<dd>
				<img src="img/qr.svg" id="qr">
				<strong>{{ Kontakt- und Beratungstelle für Flüchtlinge und Migrant_innen e.V. }}</strong><br>
				Oranienstr. 159<br>
				10969 Berlin
			</dd>

			<dt>{{ Telefon }}</dt>
			<dd>030 / 614 94 00</dd>

			<dt>{{ Fax }}</dt>
			<dd>030 / 615 45 34</dd>

			<dt>{{ E-Mail }}</dt>
			<dd>kontakt@kub-berlin.org</dd>

			<dt>{{ Internet }}</dt>
			<dd>https://kub-berlin.org</dd>

			<dt>{{ Facebook }}</dt>
			<dd>https://www.facebook.com/KuBFM</dd>

			<dt>{{ Bürozeiten }}</dt>
			<dd>
				{{ Das Büro ist in der Regel offen: }}<br>
				{{ Montag, Dienstag, Donnerstag und Freitag }}<br>
				{{ von 9:00 bis 17:00 Uhr }}
			</dd>

			<dt>{{ Spendenkonto }}</dt>
			<dd>DE70 4306 0967 1150 4052 02</dd>
		</dl>
		<img src="img/map.svg">
	</section>
	<section id="s-front">
		<img src="img/front.png">
		<p>{{ Alle Angebote der KuB sind kostenlos. }}</p>
		<p>{{ Egal welchen Aufenthaltstatus Sie haben, Sie können sich immer an uns wenden für: }}</p>
		<ul>
			<li>{{ Beratung zu Asyl und Aufenthalt }}</li>
			<li>{{ Psychosoziale Beratung }}</li>
			<li>{{ Beratung für geflüchtete Frauen }}</li>
			<li>{{ Deutschkurse }}</li>
			<li class="list-style-none">{{ … und weitere Angebote }}</li>
		</ul>
	</section>
	<section id="s-rechtsberatung">
		<img src="img/icon-beratung.svg" class="icon">
		<h2>{{ Beratung zu Asyl und Aufenthalt }}</h2>
		<p>{{ Wir beraten Sie zu Asyl- und Aufenthaltsrecht. }}</p>
		<p>
			{{ Kommen Sie bitte persönlich in die KuB. }}<br>
			{{ Sie können sich um 9:00 Uhr bei uns im Büro zur Beratung anmelden. }}<br>
			{{ Wir beraten nicht am Telefon und nicht per E-Mail. }}
		</p>
		<p>{{ **Bitte bringen Sie alle Papiere mit**, die für die Beratung wichtig sind. }}</p>
		<p>{{ **Wir beraten auf verschiedenen Sprachen**, zum Beispiel Arabisch, Deutsch, Englisch, Italienisch, Kurdisch, Spanisch, Dari, Farsi, Französisch, und so weiter. }}</p>
		<p>{{ Wenn Sie eine*n Sprachmittler*in bei der Beratung dabei haben wollen, rufen Sie bitte vorher bei uns an. }}</p>
	</section>
	<section id="s-frauenberatung">
		<img src="img/icon-frauenberatung.svg" class="icon">
		<h2>{{ Beratung für geflüchtete Frauen }}</h2>
		<p>{{ Die Frauenberatung der KuB richtet sich an **geflüchtete Frauen, die besonderen Schutz brauchen**. }}</p>
		<p class="mb-0">{{ Das sind vor allem: }}</p>
		<ul>
			<li>{{ Schwangere }}</li>
			<li>{{ Alleinerziehende }}</li>
			<li>{{ Betroffene von häuslicher Gewalt }}</li>
			<li>{{ Betroffene von sexualisierter Gewalt }}</li>
		</ul>
		<p class="mb-0">{{ Wir beraten: }}</p>
		<ul>
			<li>{{ bei **Fragen zum Aufenthaltsrecht, zum Asylrecht und zum Sozialrecht** }}</li>
			<li>{{ bei **psychischen und sozialen Problemen** }}</li>
		</ul>
		<p>{{ Wenn Sie das wünschen, können wir Sie auch anonym beraten. Sie müssen uns nicht Ihren Namen sagen. }}</p>
	</section>
	<section id="s-psb">
		<img src="img/icon-psb.svg" class="icon">
		<h2>{{ Psychosoziale Beratung }}</h2>
		<p>{{ Sie können zu uns kommen: }}</p>
		<ul>
			<li>{{ Wenn Sie schlecht schlafen. }}</li>
			<li>{{ Wenn Sie sehr oft traurig sind. }}</li>
			<li>{{ Wenn Sie oft und große Angst haben. }}</li>
			<li>{{ Wenn Sie sich hilflos fühlen. }}</li>
			<li>{{ Wenn Sie nicht wissen, wie Sie weiterleben sollen. }}</li>
		</ul>
		<p>{{ Wir hören Ihnen zu. Wir suchen mit Ihnen zusammen Wege, wie Sie mit Ihren Problemen umgehen können. }}</p>
		<p>
			{{ Sie entscheiden, worüber wir reden. }}<br>
			{{ Sie gehen keine Verpflichtungen ein. }}
		</p>
		<p>{{ Versuchen Sie es einfach! }}</p>
	</section>
	<section id="s-deutschkurse">
		<img src="img/icon-deutschkurs.svg" class="icon">
		<h2>{{ Deutsch lernen }}</h2>
		<p>{{ Wir haben Kurse für Anfänger*innen (A1.1, A1.2, A2.1, A2.2) und für Fortgeschrittenen (B1, B2). }}</p>
		<p>{{ Es gibt auch einen Alphabetisierungs-Kurs für Menschen, die nicht lesen und schreiben können, entweder weil sie eine andere Schrift gelernt haben, oder weil sie es nie gelernt haben. }}</p>
		<p>{{ Ein Kurs geht 6 Monate. Alle Kurse finden 2 mal pro Woche statt. }}</p>
		<p>{{ Informationen zu den aktuellen Kursen und zur Anmeldungen gibt es während unserer Öffnungszeiten oder unter dk-anmeldungen@kub-berlin.org. }}</p>
	</section>
</body>
</html>
